.panel {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  max-width: 50rem;
  max-height: 50rem;
  background-color: rgba(40, 40, 40, 0.85);
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  /* overflow-y: auto; */
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.tabButton.active {
  background-color: var(--dark-blue);
  color: white;
}

.bookmarks {
  position: relative;
  right: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 5vh;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.bookmark:hover {
  transform: translateX(1rem);
}

.activeMode {
  background-color: var(--dark-blue);
  color: white;
}

.content {
  margin-bottom: 16px;
}

.item {
  margin-bottom: 12px;
}

.item h4 {
  margin: 0;
}

.item p {
  margin: 4px 0;
  color: #555;
}

.option {
  display: block;
  margin-left: 16px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
}

.queryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

.queryButton:hover {
  background-color: var(--steel-blue);
}

.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--dark-pink);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}

.downloadButton:hover {
  background-color: var(--pink);
}
